.warning {
  width: 100%;
  backdrop-filter: blur(10px);
  text-align: center;
  line-height: 1.5rem;
  font-size: small;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}