button {
  display: grid;
  align-items: center;
  border: 1px solid var(--borderColor);
  outline: none;
  border-radius: var(--borderRadius);
  background-color: var(--btnBackground);
  color: var(--textMain);
  padding: 5px;
  cursor: pointer;

  &>svg {
    width: 100%;
    height: 100%;
  }
}

.editor__control-panel {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline: auto auto;

  * {
    user-select: none;
    scrollbar-width: thin;
    scrollbar-color: var(--borderColor) transparent;
  }
}

.control-panel__image-actions {
  display: flex;
  flex-direction: column;
  gap: calc(var(--vertical-gap) / 3);
  border-radius: 4px;
}

.control-panel__image-actions .restore-actions {
  width: 120px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;

  button:first-child {
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
  }

  button {
    height: 2.2em;
    border: none;
  }

  button:last-child {
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
  }

  button+button {
    border-left: 1px solid color-mix(in srgb, var(--textMain) 50%, transparent);
  }

  button>svg {
    height: 100%;
  }
}

.control-panel__image-actions .tool-features {
  height: 75px;
  display: flex;
  justify-content: center;
  gap: 6px;
  overflow-x: hidden;
  overflow-y: hidden;
}