.editor__control-panel {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline: auto auto;

  * {
    user-select: none;
    scrollbar-width: thin;
    scrollbar-color: #62686f var(--dark-grey-bg-color);
  }
}

.control-panel__image-actions {
  display: flex;
  flex-direction: column;
  gap: calc(var(--vertical-gap) / 3);
}

.control-panel__image-actions .restore-actions {
  width: 120px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;

  button:first-child {
    border-radius: var(--main-border-radius) 0 0 var(--main-border-radius);
  }

  button {
    height: 2.2em;
    border: none;
  }

  button:last-child {
    border-radius: 0 var(--main-border-radius) var(--main-border-radius) 0;
  }

  button+button {
    border-left: 1px solid var(--main-bg-color);
  }

  button>svg {
    height: 100%;
  }
}

.control-panel__image-actions .tool-features {
  height: 75px;
  display: flex;
  justify-content: center;
  gap: 6px;
  overflow: hidden;
}