:root {
  --text-max-width: 260px
}

.download-modal__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #f7f7f7;
  font-size: 1rem;

  &>.config-controls {
    flex: 1;
  }

  *[role="alert"] {
    color: var(--highlightColor)
  }
}

.download-modal__form .config-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &>* {
    padding-bottom: 10px;
    border-bottom: var(--border);

  }

  div:has(.config-controls__scale, .download-modal__image-preview) {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  input {
    border: none;
    outline: none;
    border-radius: var(--borderRadius);
  }
}

.config-controls__scale {
  display: flex;
  flex-direction: column;
  gap: 2px;

  article {
    display: flex;
    flex-direction: row;
    gap: 0.9em;

    input {
      flex: 1
    }

    span {
      box-sizing: border-box;
      width: 70px;
      font-size: 0.9em;
      line-height: 1.3em;
      text-align: center;
      border: var(--border);
      border-radius: var(--borderRadius);
      font-weight: var(--fontWeight);
    }
  }

  p {
    margin: 0;
    font-size: 0.9em;

    span {
      display: inline-block;
      box-sizing: border-box;
      width: 65px;
      text-align: center;
      background-color: var(--darkMain);
      color: var(--orange);
    }

    small {
      font-size: 0.75em;
    }
  }
}

.config-controls__image-name {
  label {
    display: inline-block;
    font-size: 0.9em;
    margin-bottom: 6px;
    font-weight: var(--fontWeight);
  }

  &>div {
    display: flex;
    gap: 5px;
  }

  &>div input[type="text"] {
    flex: 1;
    font-size: 0.75em;
    padding: 2px;
    padding-left: 8px;

    &:focus {
      outline: 2px solid color-mix(in srgb, var(--darkMain) 70%, transparent);
    }
  }

  select {
    border: none;
    outline: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
  }

  em {
    display: inline-block;
    max-width: var(--text-max-width);
    font-size: 0.6rem;
    font-weight: bold;
  }
}

.download-modal__form .download-discard {
  display: flex;
  flex-direction: column;
  gap: 10px;

  strong {
    max-width: var(--text-max-width);
    font-size: 0.65rem;
    align-self: center;
  }

  button {
    display: grid;
    place-content: center;
    padding: 5px;
    font-size: 1.1rem;
  }
}

.download-modal__form .download-discard>div {
  display: grid;
  grid-template-columns: 2fr 1fr;

  button:first-child {
    background-color: var(--orange);
    color: var(--dark);
    border: none;
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);

    &:hover {
      background-color: color-mix(in srgb, var(--dark) 15%, var(--orange));
    }
  }

  button:last-child {
    background-color: transparent;
    border: var(--border);
    border-left: none;
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;

    &>svg {
      width: 28px;
      aspect-ratio: 1;
    }
  }
}