:root {
  --tool-bd-radius: 8px;
  --tool-selector-border: 1px solid #e3e3e3;
}

.editor__tool-selector {
  &>* {
    background-color: var(--main-bg-color);
  }
}

.tool-selector--display-btn {
  width: 100%;
  display: none;
  padding: 0;
  border-radius: 0;
  border: var(--tool-selector-border);
  opacity: 0.9;

  label {
    height: 1.5rem;
    display: grid;
    place-content: center;
    cursor: pointer;
  }
}

.tool-selector__list {
  min-width: 65px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: var(--tool-selector-border);
  border-radius: 0 0 var(--tool-bd-radius) var(--tool-bd-radius);
  margin: 0;
  padding: 0;
}

.tool-selector__list--tool {
  &+li {
    border-top: 1px solid #e3e3e3;
  }

  &:last-child {
    border-radius: inherit;

    button {
      border-radius: inherit;
    }
  }

  button {
    width: 100%;
    border: none;
    padding: 7px;
    font-size: 0.75rem;
    border-radius: 0;
    cursor: pointer;
  }
}

@media (width < 450px) {
  .editor__tool-selector {
    position: absolute;
    z-index: 500;
  }

  .tool-selector__list {
    visibility: hidden;
  }

  .tool-selector--display-btn {
    display: grid;

    &:has(input:checked)+.tool-selector__list {
      border-top: none;
      visibility: visible;
    }
  }
}