.spinner-loading {
  --length: 50px;
  --correction-length: calc(var(--length) / -2);

  width: var(--length);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid var(--color);
  border-left-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3000;
  animation: rotation 1s linear infinite;
}


@keyframes rotation {
  from {
    transform: translate(var(--correction-length), var(--correction-length));
  }

  to {
    transform: translate(var(--correction-length), var(--correction-length)) rotate(1turn);
  }
}