.UICanvas_container {
  display: grid;
  place-content: center;
  justify-items: center;
  align-items: center;
  flex: 1;

  .UICanvas {
    box-shadow: 0 0 2px color-mix(in srgb, var(--darkMain) 75%, var(--contrastColor));
    position: relative;
    z-index: 150;
  }
}

.UICanvas_container .zoom-controls_container {
  width: 70px;
  line-height: 1.2em;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  font-size: 1.3em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;

  div {
    flex: 1;
    display: grid;
    place-content: center;
  }

  div+div::before {
    content: "";
    height: 100%;
    width: 1px;
    position: absolute;
    background-color: var(--borderColor);
  }

  svg {
    width: 100%;
  }
}