.spinner-loading {
  --loading-spinner-radius: 25px;
  --correction-position: calc(var(--loading-spinner-radius) * -1);

  width: calc(var(--loading-spinner-radius) * 2);
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3000;
  animation: rotation 1s linear infinite;
}


@keyframes rotation {
  from {
    transform: translate(var(--correction-position), var(--correction-position));
  }

  to {
    transform: translate(var(--correction-position), var(--correction-position)) rotate(1turn);
  }
}