.crop-features {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-content: center;
  gap: 12px;

  button {
    width: 40px;
    aspect-ratio: 1;
  }
}

.crop-features__rotate {
  display: flex;
  gap: 6px;
}

.crop-features__aspect-ratio {
  label {
    cursor: pointer;
  }

  button {
    pointer-events: none
  }
}

.crop-features__aspect-ratio--selector {
  --aspect-ratio-selector-bd-radius: 12px;

  min-width: 50vw;
  display: none;
  background-color: var(--dark-grey-bg-color);
  border-radius: var(--aspect-ratio-selector-bd-radius);
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.crop-features__aspect-ratio:has(input:checked) .crop-features__aspect-ratio--selector {
  display: block;
}

.crop-features__aspect-ratio--selector ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    padding: 10px;
    font-size: 0.8rem;
    cursor: pointer;
  }

  li:first-child {
    border-radius: var(--aspect-ratio-selector-bd-radius) var(--aspect-ratio-selector-bd-radius) 0 0;
  }

  li:last-child {
    border-radius: 0 0 var(--aspect-ratio-selector-bd-radius) var(--aspect-ratio-selector-bd-radius);
  }

  li:hover {
    background-color: rgb(14, 15, 15);
  }

  li+li {
    border-top: 1px solid var(--main-border-color);
  }
}